<html>
  <head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='camera.png') }}"></script>

    <style media="screen">
      .container
      {
           text-align: center;
      }
      .left-div
      {
           display: inline-block;
           max-width: 322px;
           vertical-align: top;
      }
      .right-div
      {
           display: inline-block;
           max-width: 322px;
      }
      @media screen and (max-width: 600px)
      {
           .left-div, .right-div
           {
                max-width: 100%;
           }
      }
    </style>

    <title>Face Hunter</title>

    <script type="text/javascript">
      function replaceAll(str, needle, replacement){
        var i = 0;
        while ((i = str.indexOf(needle, i)) != -1){
          str = str.replace(needle, replacement);
        }
        return str;
      }

      var mainWindow = '';

      function stopCamera(camera){
        document.getElementById(camera).setAttribute("src", "../static/camera.png");
        
        if (mainWindow === camera)
          document.getElementById('mainWindow').setAttribute("src", "../static/camera.png");
      }

      function loadCamera(camera, campo)
      {
        var new_campo = replaceAll(String(campo.value), "?", "$%$");
        var path = "calc/" + new_campo;
        document.getElementById(camera).setAttribute("src", path);
        document.getElementById("mainWindow").setAttribute("src", path);
        mainWindow = camera;
      }
    </script>

  </head>

  <body>
    
    <div class="container">
      <div class="left-div">
        <div align="left">
          <div style="font-size: 30px; width: 330px; text-shadow: -1px 0 #ccc, 0 2px #ccc, 2px 0 #ccc, 0 -2px #ccc; font-family: Arial, Helvetica, sans-serif;">Face Hunter</div>
        </div>
      </div>
      <div class="right-div">
        <div align="right">
          <div style="font-size: 30px; width: 320px; text-shadow: -1px 0 #ccc, 0 2px #ccc, 2px 0 #ccc, 0 -2px #ccc; font-family: Arial, Helvetica, sans-serif;"> &copy; copyright</div>
        </div>
      </div>
    </div>

    <div style="border: 5px solid white"></div>

    <img id="mainWindow" src="../static/camera.png" style="display: block; margin-left: auto; margin-right: auto; border: 2px solid #ccc; width: 668px; height: 480px;">

    <div style="border: 5px solid white"></div>
    
    <div class="container">
      <div class="left-div">
        <div align="center">
          <img id="camera01" onclick="loadCamera('camera01', document.getElementById('campo01'));" src="../static/camera.png" style="border: 2px solid #ccc; width: 160px; height: 120px;">
          <div>
            <input type="text" id="campo01" style="width: 164px; border: 2px solid #ccc;">
          </div>
          <div>
            <button id="btn" onclick="loadCamera('camera01', document.getElementById('campo01'));" style="width: 80px; border: 2px solid #ccc;">Play</button>
            <button id="btn" onclick="stopCamera('camera01');" style="width: 79px; border: 2px solid #ccc;">Stop</button>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div align="center">
          <img id="camera02" src="../static/camera.png" style="border: 2px solid #ccc; width: 160px; height: 120px;">
          <div>
            <input type="text" id="campo02" style="width: 164px; border: 2px solid #ccc;">
          </div>
          <div>
            <button id="btn" onclick="loadCamera('camera02', document.getElementById('campo02'));" style="width: 80px; border: 2px solid #ccc;">Play</button>
            <button id="btn" onclick="stopCamera('camera02');" style="width: 79px; border: 2px solid #ccc;">Stop</button>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div align="center">
          <img id="camera03" src="../static/camera.png" style="border: 2px solid #ccc; width: 160px; height: 120px;">
          <div>
            <input type="text" id="campo03" style="width: 164px; border: 2px solid #ccc;">
          </div>
          <div>
            <button id="btn" onclick="loadCamera('camera03', document.getElementById('campo03'));" style="width: 80px; border: 2px solid #ccc;">Play</button>
            <button id="btn" onclick="stopCamera('camera03');" style="width: 79px; border: 2px solid #ccc;">Stop</button>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div align="center">
          <img id="camera04" src="../static/camera.png" style="border: 2px solid #ccc; width: 160px; height: 120px;">
          <div>
            <input type="text" id="campo04" style="width: 164px; border: 2px solid #ccc;">
          </div>
          <div>
            <button id="btn" onclick="loadCamera('camera04', document.getElementById('campo04'));" style="width: 80px; border: 2px solid #ccc;">Play</button>
            <button id="btn" onclick="stopCamera('camera04');" style="width: 79px; border: 2px solid #ccc;">Stop</button>
          </div>
        </div>
      </div>
    </div>

    <div style="border: 5px solid white"></div>

    <div class="container">
      <div class="left-div">
        <div align="center">
          <div id="camera02" style="border: 2px solid #ccc; padding: 10px 62px; background-color: #0033cc;">
            <i class="fas fa-male" style="font-size:100px; color: white;"></i>
          </div>
          <div>
            <span id="male" style="font-weight: bold; color: #0033cc; text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;">{{ maleCounter() }}</span>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div align="center">
          <div id="camera02" style="border: 2px solid #ccc; padding: 10px 55px; background-color: #cc0000;">
            <i class="fas fa-female" style="font-size:100px; color: white;"></i>
          </div>
          <div>
            <span id="female" style="font-weight: bold; color: #cc0000; text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;">{{ femaleCounter() }}</span>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div align="center">
          <div id="camera02" style="border: 2px solid #ccc; padding: 10px 31px; background-color: green;">
            <i class="fas fa-smile" style="font-size:100px; color: white;"></i>
          </div>
          <div>
            <span id="smile" style="font-weight: bold; color: green; text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;">{{ smileCounter() }}</span>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div align="center">
          <div id="camera02" style="border: 2px solid #ccc; padding: 10px 31px; background-color: #FFBF00;">
            <i class="fa fa-frown" style="font-size:100px; color: white;"></i>
          </div>
          <div>
            <span id="notSmile" style="font-weight: bold; color: #FFBF00; text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;">{{ notSmileCounter() }}</span>
          </div>
        </div>
      </div>
    </div>

    <div style="border: 5px solid white"></div>

    <div class="container">
      <div class="left-div">
        <div align="center">
          <div>
            <button id="btn1" onclick="activeDisplay('display1', 'btn1');" style="width: 165px; border: 2px solid #0033cc;">24 hours</button>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div align="center">
          <div>
            <button id="btn2" onclick="activeDisplay('display2', 'btn2');" style="width: 165px; border: 2px solid #ccc;">1 hour</button>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div align="center">
          <div>
            <button id="btn3" onclick="activeDisplay('display3', 'btn3');" style="width: 165px; border: 2px solid #ccc;">10 minutes</button>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div align="center">
          <div>
            <button id="btn4" onclick="listCSV()" style="width: 160px; border: 2px solid #cc0000;">Download CSV</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function ajaxd() { 
        $("#male").load("/maleCounter");
        $("#female").load("/femaleCounter");
        $("#smile").load("/smileCounter");
        $("#notSmile").load("/notSmileCounter");
        $("#date").load("/getDate");
      }

      $(document).ready(function() {
        setInterval("ajaxd()", 5000);
      });

      function hour() { 
        $("#hour").load("/getHour");
      }

      $(document).ready(function() {
        setInterval("hour()", 1000);
      });

      function listCSV() {
        var win = window.open('http://localhost:5000/csvFiles', '_blank');
        win.focus();
      }
    </script>

    <style>
      .ct-series-d .ct-bar{
        stroke: #0033cc;
      }
      .ct-series-c .ct-bar{
        stroke: #cc0000;
      }
      .ct-series-b .ct-bar{
        stroke: green;
      }
      .ct-series-a .ct-bar{
        stroke: #FFBF00;
      }
    </style>

    <div style="border: 10px solid white"></div>

    <div class="container">
      <div class="left-div">
        <div align="left">
          <div id="date" style="width: 330px; color: gray;">{{ getDate() }}</div>
        </div>
      </div>
      <div class="right-div">
        <div align="right">
          <div id="hour" style="width: 330px; color: gray;">{{ getHour() }}</div>
        </div>
      </div>
    </div>

    <div id='display1' class="ct-chart1 ct-perfect-fourth" style="display: block; margin-top: 10px; margin-left: auto; margin-right: auto; width: 668px; height: 1380px;"></div>

    <script>
      var getData = $.get('/data24hours');
      getData.done(function(results){
        new Chartist.Bar('.ct-chart1', {
          labels: ['00-01 hours', '01-02 hours', '02-03 hours', '03-04 hours', '04-05 hours', '05-06 hours', '06-07 hours', '07-08 hours', '08-09 hours', '09-10 hours', '10-11 hours', '11-12 hours', '12-13 hours', '13-14 hours', '14-15 hours', '15-16 hours', '16-17 hours', '17-18 hours', '18-19 hours', '19-20 hours', '20-21 hours', '21-22 hours', '22-23 hours', '23-24 hours'],
          series: [
            results.male,
            results.female,
            results.smile,
            results.notSmile
          ]
        }, {
          seriesBarDistance: 10,
          reverseData: true,
          horizontalBars: true,
          axisY: {
            offset: 70
          }
        });
      });

      function loadData1() { 
        var getData = $.get('/data24hours');
        getData.done(function(results){
          new Chartist.Bar('.ct-chart1', {
            labels: ['00-01 hours', '01-02 hours', '02-03 hours', '03-04 hours', '04-05 hours', '05-06 hours', '06-07 hours', '07-08 hours', '08-09 hours', '09-10 hours', '10-11 hours', '11-12 hours', '12-13 hours', '13-14 hours', '14-15 hours', '15-16 hours', '16-17 hours', '17-18 hours', '18-19 hours', '19-20 hours', '20-21 hours', '21-22 hours', '22-23 hours', '23-24 hours'],
            series: [
              results.male,
              results.female,
              results.smile,
              results.notSmile
            ]
          }, {
            seriesBarDistance: 10,
            reverseData: true,
            barSolid: true,
            horizontalBars: true,
            axisY: {
              offset: 70
            }
          });
        });
      }

      $(document).ready(function() {
        setInterval("loadData1()", 10000);
      });
      
    </script>

    <div id='display2' class="ct-chart2 ct-perfect-fourth" style="display: none; margin-top: 10px; margin-left: auto; margin-right: auto; width: 668px; height: 380px;"></div>

    <script>
      var getData = $.get('/data1Hour');
      getData.done(function(results){
        new Chartist.Bar('.ct-chart2', {
          labels: ['00-10 min', '10-20 min', '20-30 min', '30-40 min', '40-50 min', '50-60 min'],
          series: [
            results.male,
            results.female,
            results.smile,
            results.notSmile
          ]
        }, {
          seriesBarDistance: 10,
          reverseData: true,
          horizontalBars: true,
          axisY: {
            offset: 70
          }
        });
      });

      function loadData2() { 
        var getData = $.get('/data1Hour');
        getData.done(function(results){
          new Chartist.Bar('.ct-chart2', {
            labels: ['00-10 min', '10-20 min', '20-30 min', '30-40 min', '40-50 min', '50-60 min'],
            series: [
              results.male,
              results.female,
              results.smile,
              results.notSmile
            ]
          }, {
            seriesBarDistance: 10,
            reverseData: true,
            horizontalBars: true,
            axisY: {
              offset: 70
            }
          });
        });
      }

      $(document).ready(function() {
        setInterval("loadData2()", 10000);
      });
      
    </script>

    <div id='display3' class="ct-chart3 ct-perfect-fourth" style="display: none; margin-top: 10px; margin-left: auto; margin-right: auto; width: 668px; height: 580px; display: none;"></div>

    <script>
      var getData = $.get('/data10Mininutes');
      getData.done(function(results){
        new Chartist.Bar('.ct-chart3', {
          labels: ['00-01 min', '01-02 min', '02-03 min', '03-04 min', '04-05 min', '05-06 min', '06-07 min', '07-08 min', '08-09 min', '09-10 min'],
          series: [
            results.male,
            results.female,
            results.smile,
            results.notSmile
          ]
        }, {
          seriesBarDistance: 10,
          reverseData: true,
          horizontalBars: true,
          axisY: {
            offset: 70
          }
        });
      });

      function loadData3() { 
        var getData = $.get('/data10Mininutes');
        getData.done(function(results){
          new Chartist.Bar('.ct-chart3', {
            labels: ['00-01 min', '01-02 min', '02-03 min', '03-04 min', '04-05 min', '05-06 min', '06-07 min', '07-08 min', '08-09 min', '09-10 min'],
            series: [
              results.male,
              results.female,
              results.smile,
              results.notSmile
            ]
          }, {
            seriesBarDistance: 10,
            reverseData: true,
            horizontalBars: true,
            axisY: {
              offset: 70
            }
          });
        });
      }

      $(document).ready(function() {
        setInterval("loadData3()", 10000);
      });
      
    </script>

    <script>
      var currentDisplay = 'display1';
      var currentBtn = 'btn1';

      function changeDisplay(display, id, btn) {
        if (id !== currentDisplay){
          document.getElementById(id).style.display="block";
          document.getElementById(btn).style.border="2px solid #0033cc";
          document.getElementById(currentDisplay).style.display="none";
          document.getElementById(currentBtn).style.border="2px solid #ccc";
          currentDisplay = id
          currentBtn = btn
        }
      }

      function activeDisplay(id, btn) {
        var display = document.getElementById(id).style.display;
        changeDisplay(display, id, btn)
      } 
    </script>

    <div id='csv' style='display: none;'>
      {{updateCSV()}}
    </div>

    <script type="text/javascript">
      function updateCSV() { 
        $("#csv").load("/updateCSV");
      }

      $(document).ready(function() {
        setInterval("updateCSV()", 60000);
      });
    </script>
    
  </body>
</html>
